.btn {
	background-color: $mainBlue;
	color:#FFF;
	text-decoration: none;
	padding: 0.4375rem 0.75rem;
	display: inline-block;

	&__orange {
		background-color: $orange;
	}
	&__large {
		font-weight: 300;
		padding: 0.5rem .8rem;

		@mixin atSmall {
			font-size: 1.2rem;
		}
	}
}
